
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');


*{
  font-family: 'Rubik',sans-serif
}

body{
  background-color: #2b2b2b;
  min-height: 100vh;
}


.valorant-skin-content{
  display: block;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  font-size: 24pt;
  color: white;
}

.header{
  border: 1px rgb(166, 1, 172) solid;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  column-gap: 1em;
  justify-content: space-evenly;
}

.header-title{
  font-size: 60px;
  letter-spacing: 0.2em;
}

.gallery-nav{
  display: flex;
  flex-flow: row wrap;
  gap: 2px 10px;
}

.gallery-nav-link{
  padding: 2px 4px 2px 4px;
  cursor: pointer;
  background-color: #4b275c;
}